{{template "usertop" .}}
<script>
    function BypassUp() {
        var formData = new FormData($("#formup")[0]);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/api/file/bypassav",
            data: formData,
            contentType: false,
            processData: false,
            success: function (result) {
                var mes = JSON.parse(JSON.stringify(result));
                alert(mes.message);
                window.location.replace(mes.durl);
            },
            error: function (date) {
                var mes = JSON.parse(JSON.stringify(date));
                alert(mes.responseJSON.message);
            }
        });
    }
</script>
<h3>Payload基础免杀(2021/08/05更新 过360,火绒,电脑管家等)</h3>
<form id="formup" enctype="multipart/form-data" method="POST" class="btn btn-outline-secondary">
    <input type="file" name="f1" value="上传">
</form>

<p>
    <button type="button" onclick="BypassUp()" style="width: 90px;height: 40px;" class="btn btn-info">
        ok
    </button>
</p>
<p>服务器比较垃圾，点击生成后请耐心等待，切勿多次提交！</p>
<p>如果生成成功的话，会返回下载地址。欢迎反馈和提供建议。为了长时间免杀，请不要上传杀毒网，如:vt,微步等云沙箱。</a>
<p>使用说明:利用cs生成64位的raw格式的paylaod,是一个bin格式的文件，然后上传即可</a>
</p>
{{template "userfooter" .}}
