{{template "top" .}}
<script>
    function Deluser(id) {
        var d = {
            "id": id
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            data: JSON.stringify(d),
            url: "/api/admin/deluser",
            contentType: false,
            processData: false,
            success: function (result) {
                var mes = JSON.parse(JSON.stringify(result));
                alert(mes.message);
                window.location.replace(mes.durl);
            },
            error: function (date) {
                var mes = JSON.parse(JSON.stringify(date));
                alert(mes.responseJSON.message);
            }
        });
    }
    function Addvip(id) {
        var d = {
            "id": id
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            data: JSON.stringify(d),
            url: "/api/admin/addvip",
            contentType: false,
            processData: false,
            success: function (result) {
                var mes = JSON.parse(JSON.stringify(result));
                alert(mes.message);
                window.location.replace(mes.durl);
            },
            error: function (date) {
                var mes = JSON.parse(JSON.stringify(date));
                alert(mes.responseJSON.message);
            }
        });
    }
    function Delvip(id) {
        var d = {
            "id": id
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            data: JSON.stringify(d),
            url: "/api/admin/delvip",
            contentType: false,
            processData: false,
            success: function (result) {
                var mes = JSON.parse(JSON.stringify(result));
                alert(mes.message);
                window.location.replace(mes.durl);
            },
            error: function (date) {
                var mes = JSON.parse(JSON.stringify(date));
                alert(mes.responseJSON.message);
            }
        });
    }
    function Userlog(Username) {
        window.location.href = "/api/admin/getinfo?istype=userlog&name=" + Username;
    }
</script>
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">用户ID</th>
            <th scope="col">用户名</th>
            <th scope="col">是否内测</th>
            <th scope="col">注册时间</th>
            <th scope="col">上次登录</th>
            <th scope="col">QQ账号</th>
            <th scope="col">操作</th>
        </tr>

        </thead>
        {{ range $u := .res}}
            <tbody>
            <tr>
                <th scope="row">{{ $u.Id }}</th>
                <td>{{ $u.Username }}</td>
                <td>{{ $u.Vip }}</td>
                <td>{{ $u.Regtime }}</td>
                <td>{{ $u.Lastlogin }}</td>
                <td>{{ $u.QQ }}</td>
                <td>
                    <button type="button" style="width: 60px;height: 40px;" class="btn btn-dark"
                            onclick="Addvip({{ $u.Id }})">升
                    </button>
                    <button type="button" style="width: 60px;height: 40px;" class="btn btn-dark"
                            onclick="Delvip({{ $u.Id }})">降
                    </button>
                    <button type="button" style="width: 60px;height: 40px;" class="btn btn-dark"
                            onclick="Userlog({{ $u.Username }})">查
                    </button>
                    <button type="button" style="width: 60px;height: 40px;" class="btn btn-dark"
                            onclick="Deluser({{ $u.Id }})">删
                    </button>
                </td>
            </tr>
            </tbody>
        {{ end }}
    </table>
</div>

</body>
</html>