{{template "top" .}}
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">用户名</th>
            <th scope="col">登录IP</th>
            <th scope="col">登录时间</th>
        </tr>

        </thead>
        {{ range $u := .res}}
            <tbody>
            <tr>
                <th scope="row">{{ $u.Id }}</th>
                <td>{{ $u.Username }}</td>
                <td>{{ $u.Ip }}</td>
                <td>{{ $u.Logintime }}</td>
                <td>
                </td>
            </tr>
            </tbody>
        {{ end }}
    </table>
</div>

</body>
</html>