{{template "usertop" .}}
<script>
    function Injectbypass() {
        var formData = new FormData($("#formup")[0]);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/api/file/injectbypass",
            data: formData,
            contentType: false,
            processData: false,
            success: function (result) {
                var mes = JSON.parse(JSON.stringify(result));
                alert(mes.message);
                window.location.replace(mes.durl);
            },
            error: function (date) {
                var mes = JSON.parse(JSON.stringify(date));
                alert(mes.responseJSON.message);
            }
        });
    }
</script>
<h3>进程注入bypass</h3>
<form id="formup" enctype="multipart/form-data" method="POST" class="btn btn-outline-secondary">
    <input type="file" name="f1" value="上传">
</form>

<p>
    <button type="button" onclick="Injectbypass()" style="width: 90px;height: 40px;" class="btn btn-info">
        ok
    </button>
</p>
<p>默认注入进程:"explorer.exe","notepad.exe","chrome.exe",并且会加密函数名</p>
<p>当前仅供内部用户使用.</p>
<p>如果生成成功的话，会返回下载地址。欢迎反馈和提供建议。为了长时间免杀，请不要上传杀毒网，如:vt,微步等云沙箱。</a>
<p>使用说明:利用cs生成64位的c格式的paylaod,是一个后缀为c的文件，然后上传即可</a>
</p>
{{template "userfooter" .}}