{{define "top"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>一个简单的后台</title>
        <script src="http://127.0.0.1/static/stati/js/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
    </head>
    <script type="text/javascript">
        function Isuse() {
            window.location.href = "/api/admin/getinfo?istype=nokey";
        }

        function All() {
            window.location.href = "/api/admin/getinfo?istype=allkey";
        }

        function Getusers() {
            window.location.href = "/api/admin/getinfo?istype=user";
        }

        function Getfile() {
            window.location.href = "/api/admin/getinfo?istype=file";
        }

        function Getcode() {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/api/admin/getkey",
                contentType: false,
                processData: false,
                success: function (result) {
                    var mes = JSON.parse(JSON.stringify(result));
                    alert(mes.message);
                    window.location.replace(mes.durl);
                },
                error: function (date) {
                    var mes = JSON.parse(JSON.stringify(date));
                    alert(mes.responseJSON.message);
                }
            });
        }


        function logout() {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/api/auth/logout",
                contentType: false,
                processData: false,
                success: function (result) {
                    var mes = JSON.parse(JSON.stringify(result));
                    alert(mes.message);
                    window.location.replace(mes.url);
                },
                error: function (date) {
                    var mes = JSON.parse(JSON.stringify(date));
                    alert(mes.responseJSON.message);
                }
            });
        }

    </script>
    <body>
    <div id="postForm" style="width:100%;text-align:center;">
        <h1>查询区域</h1>
        <p>
            <button type="button" onclick="logout()" style="width: 90px;height: 40px;" class="btn btn-light">注销</button>
        </p>
        <hr>
        <button type="button" onclick=javascrtpt:Getcode() style="width: 120px;height: 40px;" class="btn btn-dark">生成邀请码
        </button>
        <button type="button" onclick=javascrtpt:All() style="width: 180px;height: 40px;" class="btn btn-info">查询全部邀请码
        </button>
        <button type="button" onclick=javascrtpt:Isuse() style="width: 180px;height: 40px;" class="btn btn-success">
            查询未使用的邀请码
        </button>
        <hr>
        <p>
            <button type="button" onclick=javascrtpt:Getusers() style="width: 180px;height: 40px;"
                    class="btn btn-danger">
                查询用户
            </button>
            <button type="button" onclick=javascrtpt:Getfile() style="width: 180px;height: 40px;"
                    class="btn btn-danger">
                用户生成记录
            </button>
        </p>
    </div>
    <hr>
{{end}}