{{define "usertop"}}
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>用户中心:{{.user}}</title>
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/font-awesome.css" rel="stylesheet">
    <script src="static/layer/layer.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <!--引用jquery库-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript">
        function Bypassav() {
            window.location.href = "/center/user?type=bypassav";
        }

        function Bypassfile() {
            window.location.href = "/center/user?type=binding";
        }

        function Addselffile() {
            window.location.href = "/center/user?type=addself";
        }
        function Getencodeimg() {
            window.location.href = "/center/user?type=encodeimg";
        }
        function Inject() {
            window.location.href = "/center/user?type=inject";
        }
        function logout() {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/api/auth/logout",
                contentType: false,
                processData: false,
                success: function (result) {
                    var mes = JSON.parse(JSON.stringify(result));
                    alert(mes.message);
                    window.location.replace(mes.url);
                },
                error: function (date) {
                    var mes = JSON.parse(JSON.stringify(date));
                    alert(mes.responseJSON.message);
                }
            });
        }
    </script>

</head>

<body>
<div id="hello" style="width:100%;text-align:center;">
    <h1>Shellcode在线免杀一下</h1>
    <h1>欢迎: {{.user}},今日已用次数: {{.number}}</h1>
    <p>为了防止服务器资源恶意浪费,用户每天只能生成一次。</p>
    <h2>当前版本：5.2</h2>
    <hr>
    <h2>配置区</h2>
    <p>
    </p>
    <button type="button" onclick=javascrtpt:Getencodeimg() style="width: 120px;height: 40px;" class="btn btn-dark">图片隐写
    </button>
    <button type="button" onclick=javascrtpt:Bypassav() style="width: 120px;height: 40px;" class="btn btn-dark">Cs免杀(new)
    </button>
    <button type="button" onclick=javascrtpt:Bypassfile() style="width: 180px;height: 40px;" class="btn btn-info">文件捆绑免杀
    </button>
    <button type="button" onclick=javascrtpt:Addselffile() style="width: 250px;height: 40px;" class="btn btn-success">
        添加自启的马(国内杀软会拦截)
    </button>
    <button type="button" onclick=javascrtpt:Inject() style="width: 250px;height: 40px;" class="btn btn-success">
        进程注入bypass
    </button>
    <p></p>
    <p>
        <button type="button" onclick="logout()" style="width: 90px;height: 40px;" class="btn btn-dark">注销
        </button>
    </p>
    <hr>
{{end}}
